.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
  font-family: monospace;
}
.Header {
  display: flex;
 

  align-items: center;
  justify-content: start;
  gap: 3vw;
  font-family: monospace;
  
  border-radius: 0.5vh;
  color: rgb(238, 238, 238);
}

.H2 {
display: flex;
justify-content: space-between;
background-color: rgb(34, 40, 49);
border-radius: 0.5vh;
align-items: center;
padding-right: 1vw;
}

.random {
  border-radius: 10px;
  width: 50%;
}
.likedlink {
  text-decoration: none;
  color: inherit;
}
h3 {
  font-weight: 600;
}
.randomH {
  cursor: pointer;
}

@media (max-width: 532px) {
  .Header{
    display: flex;
    flex-direction: column;
  }
  .H2{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;

  }
  .three{
    margin-left: 2vw;
  }
}
